<h1>{{title | uppercase}}</h1>
<div class="col-6 offset-3">
  <ul class="menu nav nav-pills nav-fill">
    <li class="nav-item">
      <a  class="nav-link" routerLink="/border" routerLinkActive="active">Border</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/border-radius" routerLinkActive="active">Border radius</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/box-shadow" routerLinkActive="active">Box shadow</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/outline" routerLinkActive="active">Outline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/text-shadow" routerLinkActive="active">Text shadow</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transform" routerLinkActive="active">Transform</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transition" routerLinkActive="active">Transition</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
