/* You can add global styles to this file, and also import other style files */
body {
    margin-top: 50px;
}
h1 {
    margin-bottom: 40px;
}
section {
    background: #BBDEFB;
    padding: 30px;
    margin: 20px auto 20px auto;
    box-sizing: border-box;
}
section span {
    display: inline-block;
    width: 100px;
}
section input {
    width: 150px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #90CAF9;
    border-radius: 4px;
}
section select  {
    width: 150px;
    margin-bottom: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid #90CAF9;
    border-radius: 4px;
}

p.alert {
    margin: 10px 0 0 0;
    cursor: text;
}
p.alert-light {
    color: #000;
}